/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.banner-about {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

nav {
	padding: 20px 20px;
}

nav a {
    text-decoration: none;
    padding: 20px;
    margin: 20px;
	color: black;
}

.banner-about-img {
	width: 100%;
	padding-top: 80px;
	align-items: center;
}

.top-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
    border-bottom: 1px dashed black;
}

.middle-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.middle-content .tiles {
	width: 36%;
	padding: 15px;
	border-bottom: 1px dashed black;
	margin-bottom: 20px;
}

.bottom-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
}

.text-container {
    width: 80%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

button {
	background-color: white;
	border: 2px solid black;
	border-radius: 12px;
	padding: 10px 20px;
	font-size: 16px;
}

h2 {
	font-size: 18px;
	padding: 20px 0px;
}

p {
	line-height: 1.4;
}

.container-about-page {
	width: 100%;
	margin: 0 auto;
}

footer {
    width: 80%;
    background-color: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}